<div class="container">
    <h1>Sign Up</h1>
    <form id="form" action="/auth/signup" method="POST">

        <div class="field">
            <label>Username</label>
            <input type="text" name="username" required placeholder="Username" />
        </div>

        <div class="field">
            <label>Password</label>
            <input type="password" name="password" required placeholder="Password" />
        </div>

        <div class="field submit">
             {{#if errorMessage.length}}
            <ul class="validation">
                {{#each errorMessage}}
                <li class="error-message">{{ this }}</li>
                {{/each}}
            </ul>
            {{/if}}
            <button type="submit">Signup</button>
        </div>
        <a href="/auth/login"> Log In</a>

        

    </form>
</div>