
<h1>Sign Up</h1>
<form id="form" action="/auth/signup" method="POST">

    <div class="field">
        {{!-- <label>Email</label> --}}
        <input type="text" name="email" placeholder="Email" />
    </div>

    <div class="field">
        {{!-- <label>Username</label> --}}
        <input type="text" name="username" required placeholder="Username" />
    </div>

    <div class="field">
        {{!-- <label>Password</label> --}}
        <input id="myPassword" type="password" name="password" required placeholder="Password" />
    </div>

    

    <div class="field submit">
        <button type="submit">Signup</button>
    </div>
    <p>Already have an account?     
        <a href="/auth/login"> Log In</a>
    </p>
        {{#if errorMessage.length}}
        <div class="validation">
            {{#each errorMessage}}
                <p class="error-message">{{ this }}</p>
            {{/each}}
        </div>
        {{/if}}
</form>