
<div  id="add-book">
    <div class="form">
    <h1>Add Book</h1>
    <form id="form" action="/book/addbook" method="POST">

        <div class="field">
           
            <input type="text" name="title" required placeholder="Title" />
        </div>

        <div class="field">
            <input type="text" name="author" required placeholder="Author" />
        </div>

        <div class="field">
            <input list="genre" name="genre" required placeholder="Genre">
            <datalist id="genre">
                <option value="Science Fiction">
                <option value="Drama">
                <option value="Romance">
                <option value="My Story">
                <option value="Horror">
                <option value="Novel">
                <option value="Guide">
            </datalist>
        </div>
        <div class="field">
            <input list="condition" name="condition" required placeholder="Condition">
            <datalist id="condition">
                <option value="As New">
                <option value="Very Good">
                <option value="Good">
                <option value="Fair">
                <option value="Poor">
            </datalist>
        </div>

        <div class="field">
            <label>Description</label>
            <textarea type="textarea" rows="4" cols="55" name="description"></textarea>
        </div>

        <h1>Book location</h1>

        <input id="searchTextField" type="text" size="50" required placeholder="Enter a location" autocomplete="on" runat="server" />
        <input type="hidden" id="city2" name="city2" />
        <input type="hidden" id="cityLat" name="cityLat" />
        <input type="hidden" id="cityLng" name="cityLng" />
        
        <div class="field submit">
            <button type="submit">Add Book</button>
        </div>

    </form>

        <script>
            window.addEventListener('load', () => {
                initialize();
            });
        </script>
    </div>
</div>