<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="error" class="container">
    <div class="error">
      <h1>500 Internal Error</h1>
      <h3>It's not you, it's us! </h3>
      <h3>Please try refreshing, going back or <a href="mailto:bookBarter@gmail.com">Email Us</a></h3>
    </div>
  </body>
</html>

