<h1>Book Barter</h1>

    <input type="search" id="my-search" name="title" required>
    <button class="btn-search">Search</button>

<div id="books">
    <ul>

    </ul>
</div>

<script>
    window.addEventListener('load', () => {
        searchLoaded();
    });
</script>