<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="not-found">
    <div class="not-found container">
    <h1>404. UPS! The page you are looking for doesn't exist!</h1>
    <h3>Try browsing through our <a href="/">Homepage</a></h3>
    </div>
  </body>
</html>
