/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #dcc7aa; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  text-align:center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.25em;
}
h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.375em;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 1.13636364em;
}
p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
  line-height: 1.25em;
  margin: 0;
}

a {
  color: #f7882f;
}

button {
  outline:none;
}

@media (min-width: 768px) {
  h1{
    font-size:2.5em;
    line-height:1.125em;
  }

  h3 {
    font-size:1.5em;
    line-height:1.25em;
  }
  p{
    font-size:1em;
    line-height: 1.375em;
  }
}

@media (min-width: 1200px) {
  
  h1{
    font-size:3em;
    line-height:1.05em;
  }

  h3 {
    font-size:1.75em;
    line-height:1.25em;
  }
  p{
    font-size:1em;
    line-height: 1.375em;
  }
}

/* ---- layout ---- */

.nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom:-30px;
}

.menu{
  display:flex;
  margin-right:0;
  padding-top:10px;
}

#site-header {
  color: white;
}

.wrapper {
  min-height: calc(100vh - 70px);
}

.site-header {
  background-color: #6b7a8f;
}

#site-footer {
  color: white;
  padding: 15px 20px;
  background-color: #6b7a8f;
  margin-bottom: -50px;
}

#site-footer p {
  text-align: right;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
    margin: 0 10%;
  }
}


/* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

#form {
  margin: 30px auto;
  width: 360px;
  text-align: center;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  padding-top:10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 10px;
  padding-top:10px;
}

#form button {
  background: #f7882f;
  border: 1px solid #f7882f;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
  margin-top:40px;
  margin-bottom: 10px;
  padding-top:10px;
}

form p {
  text-align: center;
}

form a {
  text-align: center;
}

#form button:hover {
  background: #fff;
  color: #f7882f;
  transition: .3s ease background;
}

form .validation {
  margin: 5px 0 10px;
  color: red;
}

form .error-message {
  color:red;
  padding: 8px 2px;
  text-align: left;
}

/* ----Elements --- */

hr {
  width:80%;
  border: 2px solid #f7882f;
}

/* ---- map ---- */

#map {
  height: 40vh;
  padding-top:20px;
  margin-bottom:40px;
  border: 3px solid #f7882f;
  border-radius: 10px;
}

/* ---- Not-found---- */

body#not-found { 
  background-image: url('/images/not-found.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  height: 100vh;
}

.not-found {
  padding-top:10vh;
  margin-bottom: 30px;
}

.not-found h3 {
  padding-top:30px;
  text-align: left;
  margin-bottom:30px;
}

.not-found a {
  display: inline-block;
  background-color: #f7882f;
  padding:10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

/* ---- Error---- */

body#error { 
  background-image: url('/images/error.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  height: 100vh;
}

.error {
  padding-top:20vh;
  margin-bottom: 30px;
}

.error h3 {
  padding-top:10px;
  text-align: left;
  margin-bottom:10px;
}

.error a {
  display: inline-block;
  background-color: #f7882f;
  padding:10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

/* ---- Login & Signup ---- */

body#login {
  background-image: url('/images/auth.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  height: 100vh;
}

body#signup {
  background-image: url('/images/auth.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  height: 100vh;
}

#site-main.auth {
  display:block;
  background-color: #dcc7aa;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  border-radius: 5px;
}

.logo {  
  width:100px;
  height:100px;
  filter: invert(100%);
  padding-left:10px;
}

/* ---- Index ---- */

.index {
  background-color: #dcc7aa;
}

#index .main-title{
  margin-top:10vh;
  margin-left:20%;
}

#index h1,h3,p{
  text-align: left;
}

#index {
  background-image: url('/images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:60vh;
  color:white;
}

.search {
  padding-top: 20px;
  margin-bottom:20px;
}

.menu a {
  flex: 1 0 auto;
  padding:10px;
}

.menu form {
  flex: 1 0 auto;
  padding:10px;
}

.status {
  padding:5px 20px;
  color:white;
  background-color: #f7882f;
  border-radius:5px;
  border-color:#f7882f;
  transition: .3s ease background;
  font-size: 14px;
}

.status:hover {
  background-color: white;
  color: #f7882f;
}
.menu a {
  text-decoration: none;
}

#search {
  width:60%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding-top:20px;
  margin-bottom:20px;
}

.search {
  width:100%;
  display:flex;
  justify-content: space-around;
}

#search #my-search {
  width: 100%;
  border: 3px solid  #f7882f;
  padding: 5px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  color: #808080;
  font-size:20px;
}

#search .btn-search{ 
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid  #f7882f;
  background:  #f7882f;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}

#search .btn-search:focus {
  outline: none;
}

#books ul {
  list-style-type: none;
}

#books li {
    background-color: white;
    width:80%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border:3px solid #f7882f;
    color:#808080;
    border-radius: 7px;
    padding: 10px 20px;
    overflow:hidden;
    padding-top:20px;
    margin-bottom:20px;
}

#books a {
  color:white;
  text-decoration: none;
  float:right;
  display: block;
  padding: 5px 10px;
  background-color:#f7882f;
  border-radius: 5px;
  transition: .3s ease background;
  font-size: 14px;
  padding: 8px 16px;
  border: 1px solid #f7882f;
}

#books a:hover {
  background: #fff;
  color: #f7882f;
}

#books h3 {
  padding:5px;
  margin: 10px 0;
}

/* ---- book detail ---- */

#book-detail {
  color:#808080;
  padding-top:20px;
  margin-bottom:20px;
}

#book-detail .details {
  padding-top:20px;
  overflow:hidden;
  margin-bottom:20px;
  color:#808080;
  background-color: #dcc7aa;
  border-radius:10px;
  color:#808080;
}
#book-detail h3{
  font-weight: bold;
  padding-left: 10%;
  margin-top: 5px;
  margin-bottom:5px;
  color:white;
}

#book-detail .reserve {
  color:white;
  text-decoration: none;
  float:right;
  display: block;
  background-color:#f7882f;
  border-radius: 5px;
  margin-right:20px;
  margin-bottom:20px;
  transition: .3s ease background;
  font-size: 14px;
  padding: 5px 20px;
  border: 1px solid #f7882f;
}

#book-detail .reserve:hover {
  background: #fff;
  color: #f7882f;
}



#book-detail .details p{
  padding-left: 10%;
}

#book-detail .reserve h3{
  font-weight: bold;
  padding:0;
}



/* ---- edit profile ---- */

#edit-profile {
  display: flex;
  justify-content: center;
  background-image: url('/images/edit-profile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top:10%;
  padding-bottom:10%;
}

.edit-profile {
  width: 60%;
  display:inline-block;
  background-color: #dcc7aa;
  padding: 0 20px;
  border-radius: 5px;
  margin-bottom:20px;
  color:#808080;
}

.edit-profile h3 {
  text-align: center;
  font-weight:bold;
  color:white;
}

.edit-profile p {
  padding-left: 10%;
  margin-bottom:5px;
}

.edit-profile li {
  list-style-type: none;
  overflow:hidden;
}

.edit-profile form button {
  color:white;
  text-decoration: none;
  float:right;
  display: block;
  background-color:#f7882f;
  border-radius: 5px;
  margin-right:10%;
  margin-bottom:20px;
  padding:5px 10px;
  font-size: 14px;
  transition: .3s ease background;
}

.edit-profile button:hover {
background-color: #fff;
color:#f7882f;
}

.add-book button {
  margin-left:10%;
  background-color:#f7882f;
  border-radius: 5px;
  margin-right:20%;
  margin-bottom:20px;
  padding:5px 10px;
  color:white;
  font-size: 14px;
  transition: .3s ease background;
}
.edit-profile li {
  display: flex;
}
.edit-profile .book{
  flex: 2 0 auto;
}
.edit-profile .remove-book{
  flex: 1 0 auto;
}
/* ---- add book ---- */

#add-book {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  background-image: url('/images/add-book.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#add-book .form {
  display:inline-block;
  background-color: #dcc7aa;
  padding: 0 20px;
  border-radius: 5px;
  margin:5% auto;
  color:#808080;
}
